<div class="form-modal">
  <mat-card class="form-card">
    <mat-card-header>
      <div mat-card-avatar class="form-avatar">
        <mat-icon>{{ isEditMode ? 'edit' : 'add_circle' }}</mat-icon>
      </div>
      <mat-card-title>{{ isEditMode ? 'Edit' : 'Create' }} {{ entityMetadata.name }}</mat-card-title>
      <mat-card-subtitle>{{ entityMetadata.properties.length }} properties</mat-card-subtitle>
      <div class="spacer"></div>
      <button mat-icon-button (click)="onCancel()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      @if (formReady && formGroup && entityMetadata && entityMetadata.properties && formGroup.controls) {
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="entity-form">
        <div class="form-grid">
          <!-- Regular fields (non-datetime) -->
          <ng-container *ngFor="let prop of entityMetadata.properties">
            <ng-container *ngIf="!prop.isKey || isEditMode">
              <!-- Text, Number, Email inputs -->
              <app-text-field
                *ngIf="prop.inputType === 'text' || prop.inputType === 'number' || prop.inputType === 'email'"
                [formGroup]="formGroup"
                [property]="prop"
                [isEditMode]="isEditMode">
              </app-text-field>

              <!-- Checkbox for boolean fields -->
              <app-checkbox-field
                *ngIf="prop.inputType === 'checkbox'"
                [formGroup]="formGroup"
                [property]="prop">
              </app-checkbox-field>

              <!-- Hidden field for key in edit mode -->
              <input
                *ngIf="prop.isKey && isEditMode"
                type="hidden"
                [formControlName]="prop.name">
            </ng-container>
          </ng-container>
        </div>

        <!-- DateTime fields section at the bottom -->
        <div class="datetime-fields-section">
          <div class="form-grid">
            <ng-container *ngFor="let prop of entityMetadata.properties">
              <ng-container *ngIf="!prop.isKey || isEditMode">
                <!-- Date input with Material Datepicker -->
                <app-date-field
                  *ngIf="prop.inputType === 'date'"
                  [formGroup]="formGroup"
                  [property]="prop">
                </app-date-field>

                <!-- DateTime input (separate date and time) -->
                <app-datetime-field
                  *ngIf="prop.inputType === 'datetime-local'"
                  [formGroup]="formGroup"
                  [property]="prop">
                </app-datetime-field>

                <!-- Time input -->
                <app-time-field
                  *ngIf="prop.inputType === 'time'"
                  [formGroup]="formGroup"
                  [property]="prop">
                </app-time-field>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <mat-divider class="form-divider"></mat-divider>

        <div class="form-actions">
          <button 
            mat-stroked-button 
            type="button" 
            (click)="onCancel()"
            class="cancel-button">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
          <button 
            mat-raised-button 
            color="primary" 
            type="submit"
            [disabled]="formGroup.invalid"
            class="save-button">
            <mat-icon>{{ isEditMode ? 'save' : 'add' }}</mat-icon>
            {{ isEditMode ? 'Update' : 'Create' }}
          </button>
        </div>
      </form>
      } @else {
        <div class="form-loading">
          <mat-icon>hourglass_empty</mat-icon>
          <p>Loading form...</p>
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>


